@font-face {
    font-family: 'ds-digitalnormal';
    src: url('../fonts/digital/ds-digi-webfont.woff2') format('woff2'), url('../fonts/digital/ds-digi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_magicregular';
    src: url('../fonts/arabic/arabic_magic-webfont.woff2') format('woff2'), url('../fonts/arabic/arabic_magic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: none;
}

body {
    background-color: #405068;
    box-sizing: border-box;
    margin: 0;
}

/****************************************************************************************/

/*************************************MOBILE NAV******************************************/

/****************************************************************************************/

.nav-bar-mobile {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 99;
    width: 50px;
}

.nav-bar-mobile i {
    padding: 15px;
    width: 100%;
}

.nav-bar-mobile .nav-column {
    z-index: 10;
    background-color: white;
    position: absolute;
    transition: all 500ms;
    left: 0;
}

.nav-bar-mobile .nav-column a {
    display: block;
    color: black;
    text-decoration: none;
}

h2.verse {
    color: white;
    font-size: 45px;
}

.nav-bar-mobile .nav-column.hide {
    left: -160px;
}

p {
    margin: 0;
}

.container {
    text-align: center;
    padding: 30px;
}

.title-main {
    font-family: 'arabic_magicregular', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 3em;
    margin: 0;
    text-align: center;
}

#bar-container {
    height: 101%;
    position: absolute;
    background-color: #405068;
    width: 101%;
    overflow: hidden;
    z-index: 10;
}

#bar {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-top: 50%;
}

#fill {
    height: 50px;
    width: 0px;
    background-color: white;
}

#percent {
    margin: 0;
}

#text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#bookmark {
    padding: 10px;
    background-color: white;
    color: #405068;
    margin-bottom: 10px;
    display: block;
}

.hadiths p {
    color: white;
    border-bottom: 5px solid;
    border-top: 5px solid;
    padding: 10px;
}

.device {
    margin: auto;
}

.screen {
    width: 240px;
    height: 140px;
    background-color: aliceblue;
    margin: 10px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    box-shadow: 1px 3px 10px #444, inset -1px -1px 0 #444;
}

.reset {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: auto;
    display: block;
    margin-left: 10px;
    box-shadow: 1px 1px 2px #444, inset -1px -1px 0 #444;
    outline: none;
}

small {
    text-transform: uppercase;
    margin-right: auto;
    width: 15px;
    font-size: 17px;
    display: block;
    color: white;
}

.tasbeeh {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 2px 5px 4px #444, inset -1px -1px 0 #444;
    margin-top: 25%;
    outline: none;
}

.number {
    width: 25%;
    height: 140px;
    font-family: 'ds-digitalnormal', arial;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hadiths-end p {
    font-size: 50px;
    text-align: center;
    color: white;
    border-bottom: 5px solid;
    border-top: 5px solid;
    padding: 10px;
}

.display-names {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* width: 55%; */
    /* margin: auto; */
    color: white;
    font-weight: bold;
}

.container a {
    text-decoration: none;
    color: white;
    line-height: 2;
}

.display-names p {
    width: 35%;
}

.display-names p:first-of-type, .display-names p:nth-of-type(3) {
    width: 5%;
}

.trad {
    text-align: center;
    padding: 10px;
    line-height: 1.6;
}

.current {
    color: blue;
    background-color: rgba(255, 251, 0, 0.116);
}

.audio {
    width: 100%;
    bottom: 0;
    position: sticky;
    outline: none;
}

.nav-bar-mobile {
    color: black;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.controls a {
    color: #405068;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 20px 0;
    border-radius: 10px;
}

#translation {
    color: #405068;
    background-color: white;
    padding: 5px;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
    opacity: 0.5;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer small {
    width: 21%;
    font-size: 10px;
    /* color: white; */
    margin-bottom: 20px;
}

footer small a {
    color: white;
    text-decoration: none;
}

@media (min-width:800px) {
    .container {
        width: 30%;
        margin: auto;
    }
}