@font-face {
    font-family: 'ds-digitalnormal';
    src: url('../fonts/digital/ds-digi-webfont.woff2') format('woff2'), url('../fonts/digital/ds-digi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_magicregular';
    src: url('../fonts/arabic/arabic_magic-webfont.woff2') format('woff2'), url('../fonts/arabic/arabic_magic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #405068;
    box-sizing: border-box;
    margin: 0;
}

p {
    margin: 0;
}

.container {
    text-align: center;
    padding: 30px;
}

.title-main {
    font-family: 'arabic_magicregular', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 4em;
    margin: 0;
    text-align: center;
}

.hadiths p {
    color: white;
    border-bottom: 5px solid;
    border-top: 5px solid;
    padding: 10px;
}

.device {
    margin: auto;
}

.screen {
    width: 240px;
    height: 140px;
    background-color: aliceblue;
    margin: 10px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    box-shadow: 1px 3px 10px #444, inset -1px -1px 0 #444;
}

.reset {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: auto;
    display: block;
    margin-left: 10px;
    box-shadow: 1px 1px 2px #444, inset -1px -1px 0 #444;
}

small {
    text-transform: uppercase;
    margin-right: auto;
    width: 15px;
    font-size: 17px;
    display: block;
    color: white;
}

.tasbeeh {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 2px 5px 4px #444, inset -1px -1px 0 #444;
    margin-top: 50%;
}

.number {
    width: 25%;
    height: 140px;
    font-family: 'ds-digitalnormal', arial;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hadiths-end p {
    font-size: 70px;
    text-align: center;
    color: white;
    border-bottom: 5px solid;
    border-top: 5px solid;
    padding: 10px;
}

@media (min-width:450px) {
    .container {
        width: 30%;
        margin: auto;
    }
}